server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/ratelimiter
    username: postgres
    password: 1234
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  application:
    name: ratelimiter-saas


  data:
    redis:
      host: localhost
      port: 6379


logging:
  level:
    root: INFO

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always